[client]
remoteHost=WINDOWS_LAN_IP

[core]
computerName=LINUX_SCREEN_NAME
coreMode=1
port=24800
processMode=1
startedBefore=true

[gui]
autoHide=true
closeToTray=true
enableUpdateCheck=false
startCoreWithGui=true

[log]
level=WARNING
toFile=false

[security]
certificate=/home/LINUX_USER/.config/Moniswitch/deskflow/tls/deskflow.pem
checkPeerFingerprints=true
keySize=3072
tlsEnabled=true
